<robot
  name="double_mesh_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.017519394031846 8.11394768450848E-07 0.0975924044854325"
        rpy="0 0 0" />
      <mass
        value="7.58585707666653" />
      <inertia
        ixx="0.0441803207364147"
        ixy="5.37433593375545E-07"
        ixz="0.004045564920652"
        iyy="0.0584309411563095"
        iyz="-4.8990117845347E-07"
        izz="0.0514875586171667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="suzanne.blend" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="suzanne.blend" />
      </geometry>
    </collision>
  </link>
</robot>